@import url(./equalize.css);
@import url(./scrollbar.css);
@import url(./variables.css);
@import url(./modal.css);

body {
    min-height: 100vh;
    background: red;
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 5rem 5rem 1fr;
    color: var(--text);
}
button {
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
}
li {
    list-style-type: none;
}
#nav {
    background: var(--dark-bg);
    border-bottom: 2px solid var(--border);
    grid-column: 1/-1;
    grid-row: 1;
    padding: 1rem;
}
#leftPanel {
    grid-row: 2/-1;
    grid-column: 1;
    background: var(--mid-bg);
    border-right: 2px solid var(--border);
    padding: 1rem;
}
#mainContent {
    grid-row: 3/-1;

    flex: 1;
    padding: 1rem;
    background: var(--mid-bg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: center;
}
#mainButtons {
    background: var(--mid-bg);
    padding: 1rem;
}

#mainContent .card {
    background: var(--light-bg);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 1rem;
    max-height: 50vh;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
}
#mainContent .card .name {
    font-size: 2rem;
    font-weight: bold;
}
#mainContent .card .description {
}
#mainContent ul {
    flex: 1;
}
#mainContent .card progress {
    width: 100%;
    height: 1.5rem;
}
#mainContent .card button {
    width: 100%;
}
#mainContent .card input[type="checkbox"] {
    width: auto;
    margin: 0 10px;
}
